@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #1A120B;
    font-family: 'Montserrat', sans-serif;
    color: #E5E5CB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    max-width: 800px;
    width: 100%;
}

.h1 {
    text-align: center;
    border-bottom: 2px solid;
    text-transform: uppercase;
    max-width: 300px;
    width: 100%;
}

.sort_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #E5E5CB;
    background-color: #3C2A21;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    outline: none;
}

button.button:hover {
    cursor: pointer;
    color: #3C2A21;
    background-color: #D5CEA3;
    transition: all 0.7s ease-in-out 0s;
}

.active {
    background-color: #D5CEA3;
    color: #3C2A21;
}

.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    justify-content: space-between;
}

.meal_all {
    display: flex;
    flex-direction: row;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 40px;
}

.meal_img {
    max-width: 400px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.meal_name_price {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.meal_description {
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
}
