* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #B9F3FC; /*AEE2FF 93C6E7 FEDEFF*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans";
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-container {

}

.change_button {
    box-sizing: border-box;

    appearance: none;
    background-color: transparent;
    border: 2px solid #CDE990;
    border-radius: 0.6em;
    color: #CDE990;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #CDE990;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #CDE990 inset, 0 0 0 0 #CDE990;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.change_button:hover {
    box-shadow: 0 0 10px 0 #AACB73 inset, 0 0 10px 4px #AACB73;
}